#                  **Pre-processing**

In this notebook, I will be performing pre-processing for the project. I will first perform scaling of the features and then attempt to use feature selection using the Boruta method to select the most important protein/peptides for predicting the updrs scores. This will all be done in the training dataset. Thee are 234 patients, with protein/peptide expression data at 0,6,12,24 months. There are protein abundance values for 227 proteins and peptide abundance measurements for 671 peptides. They have been merged in the previous notebook. 
I will be scaling the testing dataset using values from values from the training dataset. We will also impute missing values in the testing clinical dataset using values from the training clinical dataset.

In [1]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, cross_validate, GridSearchCV, learning_curve
import pandas as pd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import plotly.express as px
from boruta import BorutaPy
from sklearn.ensemble import RandomForestRegressor

In [2]:
Training_protein_peptide_final=pd.read_csv("Protein_peptide_training_final.csv")
Training_clinical=pd.read_csv('Training_clinical_cleaned.csv')

In [3]:
Training_protein_peptide_final=Training_protein_peptide_final.set_index('visit_id')
Training_protein_peptide_final.head()

,O00391,O00533,O00584,O14498,O14773,O14791,O15240,O15394,O43505,O60888,...,YSLTYIYTGLSK,YTTEIIK,YVGGQEHFAHLLILR,YVM(UniMod_35)LPVADQDQC(UniMod_4)IR,YVMLPVADQDQC(UniMod_4)IR,YVNKEIQNAVNGVK,YWGVASFLQK,YYC(UniMod_4)FQGNQFLR,YYTYLIMNK,YYWGGQYTWDMAK
visit_id,,,,,,,,,,,,,,,,,,,,,
10053_0,13.152328,18.617988,0.000000,0.000000,12.803843,11.286465,16.340874,13.883560,17.352311,16.977548,...,17.625951,0.000000,22.069672,16.241585,19.153322,16.227046,16.669826,19.016240,0.000000,12.815243
10053_12,13.353174,18.732598,0.000000,0.000000,0.000000,0.000000,17.588693,13.882175,17.325692,16.722194,...,17.616901,0.000000,22.254002,15.165272,18.440070,16.490570,16.911275,18.791961,15.588770,14.628719
10138_12,13.621159,18.915847,13.161929,14.730974,14.458028,12.554565,17.254078,15.735196,17.638302,15.791697,...,17.523148,13.203610,21.895146,15.557054,18.325455,16.454783,16.987753,19.074915,16.002679,13.269854
10138_24,13.551131,18.994072,12.135232,14.069265,14.829346,11.380001,17.205803,15.675574,17.878027,16.388137,...,17.653594,12.635979,21.747882,16.094750,18.922123,16.304196,16.770548,0.000000,15.798107,12.259476
10174_0,13.532892,18.856872,14.167920,14.818677,14.638091,12.337009,17.869202,15.700884,17.828521,17.411403,...,18.061318,12.959194,22.241123,17.145355,19.674458,17.734670,17.196487,18.902696,15.302457,14.348133

In [4]:
Training_clinical.head()

  visit_id  patient_id  visit_month  updrs_1  updrs_2  updrs_3  updrs_4
0     55_0          55            0     10.0      6.0     15.0      0.0
1     55_3          55            3     10.0      7.0     25.0      0.0
2     55_6          55            6      8.0     10.0     34.0      0.0
3     55_9          55            9      8.0      9.0     30.0      0.0
4    55_12          55           12     10.0     10.0     41.0      0.0

Re-engineer the clinical dataset to drop patient_id and visit_month columns

In [5]:
Training_clinical.drop(columns=["visit_month","patient_id"], inplace=True)
Training_clinical=Training_clinical.set_index("visit_id")

In [6]:
Training_clinical.head()

          updrs_1  updrs_2  updrs_3  updrs_4
visit_id
55_0         10.0      6.0     15.0      0.0
55_3         10.0      7.0     25.0      0.0
55_6          8.0     10.0     34.0      0.0
55_9          8.0      9.0     30.0      0.0
55_12        10.0     10.0     41.0      0.0

Combine the target variables with the features

In [7]:
training_protein_peptide_clinical = Training_clinical.merge(Training_protein_peptide_final, on="visit_id",how="inner")
training_protein_peptide_clinical.head()

,updrs_1,updrs_2,updrs_3,updrs_4,O00391,O00533,O00584,O14498,O14773,O14791,...,YSLTYIYTGLSK,YTTEIIK,YVGGQEHFAHLLILR,YVM(UniMod_35)LPVADQDQC(UniMod_4)IR,YVMLPVADQDQC(UniMod_4)IR,YVNKEIQNAVNGVK,YWGVASFLQK,YYC(UniMod_4)FQGNQFLR,YYTYLIMNK,YYWGGQYTWDMAK
visit_id,,,,,,,,,,,,,,,,,,,,,
55_0,10.0,6.0,15.0,0.0,13.458189,19.482331,15.272695,15.341759,14.931014,12.037104,...,17.617970,14.009505,21.861462,16.705821,19.147352,17.000913,17.339528,18.738280,15.498388,13.862870
55_6,8.0,10.0,34.0,0.0,13.684266,19.266057,15.104140,15.333679,14.678375,12.108662,...,17.384303,13.688119,21.974045,16.790870,18.973823,16.659439,17.141778,18.804645,15.289432,14.337615
55_12,10.0,10.0,41.0,0.0,13.897240,19.636587,15.346060,15.279150,14.906120,12.084676,...,17.822347,14.125559,22.384201,16.827318,19.441143,17.063216,17.471699,18.786771,15.739915,14.414758
942_6,8.0,2.0,21.0,0.0,13.453618,18.607901,14.329025,14.933456,12.591892,11.324389,...,17.787966,12.643811,0.000000,15.813065,18.875530,16.287734,16.281602,19.128931,15.550921,13.936095
942_12,5.0,2.0,25.0,0.0,12.722235,18.461072,14.164876,13.849474,14.183279,10.750514,...,17.402571,12.219057,18.513863,15.126354,17.933858,16.009455,16.250757,18.891306,15.458685,0.000000

We will also engineer our test dataset to make it similar to our training dataset and impute test clinical data values based on training dataset values.

In [8]:
X_train=training_protein_peptide_clinical.drop(columns=['updrs_1',"updrs_2","updrs_3","updrs_4"])

In [9]:
y_train=training_protein_peptide_clinical[['updrs_1',"updrs_2","updrs_3","updrs_4"]]

In [59]:
Testing_protein=pd.read_csv('testing_data/example_test_files/test_proteins.csv')
Testing_peptide=pd.read_csv('testing_data/example_test_files/test_peptides.csv')
Testing_clinical=pd.read_csv('testing_data/example_test_files/test.csv')

Log2 normalise the testing data values. This was done for the training dataset in the EDA notebook

In [60]:
Testing_protein_peptide=  Testing_peptide.merge(Testing_protein,  on=['visit_id','visit_month','patient_id','UniProt'])
Testing_protein_peptide["Normalised_PeptideAbundance"]=np.log2(Testing_protein_peptide.loc[:,"PeptideAbundance"])
Testing_protein_peptide["Normalised_NPX"]=np.log2(Testing_protein_peptide.NPX)
Testing_protein_peptide.head()

,visit_id,visit_month,patient_id,UniProt,Peptide,PeptideAbundance,group_key_x,NPX,group_key_y,Normalised_PeptideAbundance,Normalised_NPX
0,50423_0,0,50423,O00391,AHFSPSNIILDFPAAGSAAR,22226.3,0,33127.9,0,14.439980,15.015759
1,50423_0,0,50423,O00391,NEQEQPLGQWHLS,10901.6,0,33127.9,0,13.412252,15.015759
2,50423_0,0,50423,O00533,GNPEPTFSWTK,51499.4,0,490742.0,0,15.652268,18.904605
3,50423_0,0,50423,O00533,IEIPSSVQQVPTIIK,125492.0,0,490742.0,0,16.937236,18.904605
4,50423_0,0,50423,O00533,KPQSAVYSTGSNGILLC(UniMod_4)EAEGEPQPTIK,23174.2,0,490742.0,0,14.500232,18.904605

In [61]:
Testing_protein_peptide_select_drop_protein=Testing_protein_peptide.loc[:,["visit_id","UniProt","Normalised_NPX","visit_month"]]
Testing_protein_peptide_select_drop_protein.head()

  visit_id UniProt  Normalised_NPX  visit_month
0  50423_0  O00391       15.015759            0
1  50423_0  O00391       15.015759            0
2  50423_0  O00533       18.904605            0
3  50423_0  O00533       18.904605            0
4  50423_0  O00533       18.904605            0

In [62]:
protein=Testing_protein_peptide_select_drop.pivot_table(index=["visit_id"],columns="UniProt",values="Normalised_NPX")
protein=protein.fillna(0)
columns=protein.columns
protein.head()

UniProt,O00391,O00533,O00584,O14498,O14773,O14791,O15031,O15240,O15394,O43505,...,Q9HDC9,Q9NQ79,Q9NYU2,Q9UBR2,Q9UBX5,Q9UHG2,Q9UKV8,Q9UNU6,Q9Y646,Q9Y6R7
visit_id,,,,,,,,,,,,,,,,,,,,,
3342_6,13.830119,19.234453,15.906376,14.764358,13.868745,11.478325,0.000000,17.769095,15.845073,17.662731,...,17.402121,15.502204,16.772869,14.039262,15.294165,18.311083,15.975031,14.616405,15.651537,13.836100
50423_0,15.015759,18.904605,15.412547,0.000000,14.009006,11.493065,13.546376,16.923977,15.815986,17.612264,...,17.504966,15.115113,16.591958,14.481049,15.615633,17.914041,16.147583,14.352954,15.246195,15.389376

In [63]:
Testing_protein_peptide_select_peptide=Testing_protein_peptide.loc[:,["visit_id","Peptide","Normalised_PeptideAbundance","visit_month"]]
peptide=Testing_protein_peptide_select_peptide.pivot(index="visit_id",columns="Peptide",values="Normalised_PeptideAbundance")

testing_protein_peptide_final = protein.merge(peptide, on="visit_id",how="left")
testing_protein_peptide_final.head()

,O00391,O00533,O00584,O14498,O14773,O14791,O15031,O15240,O15394,O43505,...,YSSDYFQAPSDYR,YTTEIIK,YVGGQEHFAHLLILR,YVM(UniMod_35)LPVADQDQC(UniMod_4)IR,YVMLPVADQDQC(UniMod_4)IR,YVNKEIQNAVNGVK,YWGVASFLQK,YYC(UniMod_4)FQGNQFLR,YYTYLIMNK,YYWGGQYTWDMAK
visit_id,,,,,,,,,,,,,,,,,,,,,
3342_6,13.830119,19.234453,15.906376,14.764358,13.868745,11.478325,0.000000,17.769095,15.845073,17.662731,...,14.926745,13.338709,21.802359,15.523455,19.941847,16.186861,16.955900,17.685262,15.495830,14.427287
50423_0,15.015759,18.904605,15.412547,0.000000,14.009006,11.493065,13.546376,16.923977,15.815986,17.612264,...,15.273959,13.907830,21.980359,13.893396,16.345230,16.759433,16.776369,17.756113,15.506723,13.057861

In [64]:
Testing_protein_peptide_clinical = Testing_clinical.merge(testing_protein_peptide_final, on="visit_id",how="inner")
Testing_protein_peptide_clinical=Testing_protein_peptide_clinical.set_index("visit_id")
Testing_protein_peptide_clinical.head()

,visit_month,patient_id,updrs_test,row_id,group_key,O00391,O00533,O00584,O14498,O14773,...,YSSDYFQAPSDYR,YTTEIIK,YVGGQEHFAHLLILR,YVM(UniMod_35)LPVADQDQC(UniMod_4)IR,YVMLPVADQDQC(UniMod_4)IR,YVNKEIQNAVNGVK,YWGVASFLQK,YYC(UniMod_4)FQGNQFLR,YYTYLIMNK,YYWGGQYTWDMAK
visit_id,,,,,,,,,,,,,,,,,,,,,
50423_0,0,50423,updrs_1,50423_0_updrs_1,0,15.015759,18.904605,15.412547,0.000000,14.009006,...,15.273959,13.907830,21.980359,13.893396,16.345230,16.759433,16.776369,17.756113,15.506723,13.057861
50423_0,0,50423,updrs_2,50423_0_updrs_2,0,15.015759,18.904605,15.412547,0.000000,14.009006,...,15.273959,13.907830,21.980359,13.893396,16.345230,16.759433,16.776369,17.756113,15.506723,13.057861
50423_0,0,50423,updrs_3,50423_0_updrs_3,0,15.015759,18.904605,15.412547,0.000000,14.009006,...,15.273959,13.907830,21.980359,13.893396,16.345230,16.759433,16.776369,17.756113,15.506723,13.057861
50423_0,0,50423,updrs_4,50423_0_updrs_4,0,15.015759,18.904605,15.412547,0.000000,14.009006,...,15.273959,13.907830,21.980359,13.893396,16.345230,16.759433,16.776369,17.756113,15.506723,13.057861
3342_6,6,3342,updrs_1,3342_6_updrs_1,6,13.830119,19.234453,15.906376,14.764358,13.868745,...,14.926745,13.338709,21.802359,15.523455,19.941847,16.186861,16.955900,17.685262,15.495830,14.427287

In [65]:
X_test=Testing_protein_peptide_clinical.drop(columns=['updrs_test',"row_id","patient_id","visit_month","group_key"])
X_test = X_test[X_test.columns.intersection(X_train.columns)]

Let me use the standard scaler  to scale the features

In [68]:
X_train=X_train[X_train.columns.intersection(X_test.columns)]
scaler = StandardScaler()
scaler.fit(X_train)
X_tr_scaled = scaler.transform(X_train)

In [69]:
X_test_scaled = scaler.transform(X_test)

In [71]:
y_test=Testing_protein_peptide_clinical[['updrs_test']]

We have to apply the Boruta feature selection method individually for each of the four updrs scores.

In [14]:
model = RandomForestRegressor(n_estimators=100, max_depth=5, random_state=42)

# let's initialize Boruta
feat_selector = BorutaPy(
    verbose=2,
    estimator=model,
    n_estimators='auto'  
)

# train Boruta
# N.B.: X and y must be numpy arrays
feat_selector.fit(np.array(X_tr_scaled), np.array(y_train.updrs_1))

# print support and ranking for each feature
print("\n------Support and Ranking for each feature------")

Iteration: 	1 / 100
Confirmed: 	0
Tentative: 	1195
Rejected: 	0
Iteration: 	2 / 100
Confirmed: 	0
Tentative: 	1195
Rejected: 	0
Iteration: 	3 / 100
Confirmed: 	0
Tentative: 	1195
Rejected: 	0
Iteration: 	4 / 100
Confirmed: 	0
Tentative: 	1195
Rejected: 	0
Iteration: 	5 / 100
Confirmed: 	0
Tentative: 	1195
Rejected: 	0
Iteration: 	6 / 100
Confirmed: 	0
Tentative: 	1195
Rejected: 	0
Iteration: 	7 / 100
Confirmed: 	0
Tentative: 	1195
Rejected: 	0
Iteration: 	8 / 100
Confirmed: 	0
Tentative: 	4
Rejected: 	1191
Iteration: 	9 / 100
Confirmed: 	0
Tentative: 	4
Rejected: 	1191
Iteration: 	10 / 100
Confirmed: 	0
Tentative: 	4
Rejected: 	1191
Iteration: 	11 / 100
Confirmed: 	0
Tentative: 	4
Rejected: 	1191
Iteration: 	12 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	13 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	14 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	15 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	16 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	17 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	18 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	19 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	20 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	21 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	22 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	23 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	24 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	25 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	26 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	27 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	28 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	29 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	30 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	31 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	32 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	33 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	34 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	35 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	36 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	37 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	38 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	39 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	40 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	41 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	42 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	43 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	44 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	45 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	46 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	47 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	48 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	49 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	50 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	51 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	52 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	53 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	54 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	55 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	56 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	57 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	58 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	59 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	60 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	61 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	62 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	63 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	64 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	65 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	66 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	67 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	68 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	69 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	70 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	71 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	72 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	73 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	74 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	75 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	76 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	77 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	78 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	79 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	80 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	81 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	82 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	83 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	84 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	85 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	86 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	87 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	88 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	89 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	90 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	91 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	92 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	93 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	94 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	95 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	96 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	97 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	98 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191
Iteration: 	99 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191


BorutaPy finished running.

Iteration: 	100 / 100
Confirmed: 	3
Tentative: 	1
Rejected: 	1191

------Support and Ranking for each feature------

In [15]:
feat_selector = BorutaPy(
    verbose=2,
    estimator=model,
    n_estimators='auto',
    max_iter=10  # number of iterations to perform
)

# train Boruta
# N.B.: X and y must be numpy arrays
feat_selector.fit(np.array(X_tr_scaled), np.array(y_train.updrs_2))

Iteration: 	1 / 10
Confirmed: 	0
Tentative: 	1195
Rejected: 	0
Iteration: 	2 / 10
Confirmed: 	0
Tentative: 	1195
Rejected: 	0
Iteration: 	3 / 10
Confirmed: 	0
Tentative: 	1195
Rejected: 	0
Iteration: 	4 / 10
Confirmed: 	0
Tentative: 	1195
Rejected: 	0
Iteration: 	5 / 10
Confirmed: 	0
Tentative: 	1195
Rejected: 	0
Iteration: 	6 / 10
Confirmed: 	0
Tentative: 	1195
Rejected: 	0
Iteration: 	7 / 10
Confirmed: 	0
Tentative: 	1195
Rejected: 	0
Iteration: 	8 / 10
Confirmed: 	0
Tentative: 	11
Rejected: 	1184
Iteration: 	9 / 10
Confirmed: 	0
Tentative: 	11
Rejected: 	1184


BorutaPy finished running.

Iteration: 	10 / 10
Confirmed: 	0
Tentative: 	5
Rejected: 	1184

BorutaPy(estimator=RandomForestRegressor(max_depth=5, n_estimators=93,
                                         random_state=RandomState(MT19937) at 0x7FCD605A4440),
         max_iter=10, n_estimators='auto',
         random_state=RandomState(MT19937) at 0x7FCD605A4440, verbose=2)

In [16]:
feat_selector = BorutaPy(
    verbose=2,
    estimator=model,
    n_estimators='auto',
    max_iter=10  # number of iterations to perform
)

# train Boruta
# N.B.: X and y must be numpy arrays
feat_selector.fit(np.array(X_tr_scaled), np.array(y_train.updrs_3))

Iteration: 	1 / 10
Confirmed: 	0
Tentative: 	1195
Rejected: 	0
Iteration: 	2 / 10
Confirmed: 	0
Tentative: 	1195
Rejected: 	0
Iteration: 	3 / 10
Confirmed: 	0
Tentative: 	1195
Rejected: 	0
Iteration: 	4 / 10
Confirmed: 	0
Tentative: 	1195
Rejected: 	0
Iteration: 	5 / 10
Confirmed: 	0
Tentative: 	1195
Rejected: 	0
Iteration: 	6 / 10
Confirmed: 	0
Tentative: 	1195
Rejected: 	0
Iteration: 	7 / 10
Confirmed: 	0
Tentative: 	1195
Rejected: 	0
Iteration: 	8 / 10
Confirmed: 	0
Tentative: 	13
Rejected: 	1182
Iteration: 	9 / 10
Confirmed: 	0
Tentative: 	13
Rejected: 	1182


BorutaPy finished running.

Iteration: 	10 / 10
Confirmed: 	0
Tentative: 	3
Rejected: 	1182

BorutaPy(estimator=RandomForestRegressor(max_depth=5, n_estimators=101,
                                         random_state=RandomState(MT19937) at 0x7FCD605A4440),
         max_iter=10, n_estimators='auto',
         random_state=RandomState(MT19937) at 0x7FCD605A4440, verbose=2)

In [17]:
feat_selector = BorutaPy(
    verbose=2,
    estimator=model,
    n_estimators='auto',
    max_iter=10  # number of iterations to perform
)

# train Boruta
# N.B.: X and y must be numpy arrays
feat_selector.fit(np.array(X_tr_scaled), np.array(y_train.updrs_4))

Iteration: 	1 / 10
Confirmed: 	0
Tentative: 	1195
Rejected: 	0
Iteration: 	2 / 10
Confirmed: 	0
Tentative: 	1195
Rejected: 	0
Iteration: 	3 / 10
Confirmed: 	0
Tentative: 	1195
Rejected: 	0
Iteration: 	4 / 10
Confirmed: 	0
Tentative: 	1195
Rejected: 	0
Iteration: 	5 / 10
Confirmed: 	0
Tentative: 	1195
Rejected: 	0
Iteration: 	6 / 10
Confirmed: 	0
Tentative: 	1195
Rejected: 	0
Iteration: 	7 / 10
Confirmed: 	0
Tentative: 	1195
Rejected: 	0
Iteration: 	8 / 10
Confirmed: 	0
Tentative: 	6
Rejected: 	1189
Iteration: 	9 / 10
Confirmed: 	0
Tentative: 	6
Rejected: 	1189


BorutaPy finished running.

Iteration: 	10 / 10
Confirmed: 	0
Tentative: 	0
Rejected: 	1189

BorutaPy(estimator=RandomForestRegressor(max_depth=5, n_estimators=69,
                                         random_state=RandomState(MT19937) at 0x7FCD605A4440),
         max_iter=10, n_estimators='auto',
         random_state=RandomState(MT19937) at 0x7FCD605A4440, verbose=2)

Boruta method does not help in confirming important features. We may have to use recursive feature elimination using methods like SVM or use basic filtering methods such as selecting the top 25% of most variable features before the modeling.